                    * {
                        margin: 0;
                        /*Margen*/
                        padding: 0;
                        /*Grosor de separación*/
                        box-sizing: border-box;
                        /*Altura y largo*/
                        font-family: 'Calibri';
                    }
                    
                    body {
                        min-height: 100vh;
                        background-color: #fcfcfc;
                        display: grid;
                        place-items: center;
                    }
                    
                    .calculadora {
                        background-color: #2CD3E1;
                        color: #0a0a0a;
                        width: 350px;
                        max-width: 100%;
                        padding: 1.5rem;
                        border-radius: 1rem;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        gap: 0.5rem;
                    }
                    
                    .pantalla {
                        grid-column: 1/-1;
                        background-color: #ba81db;
                        border: 0;
                        padding: 1.5rem .5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: .5rem;
                        cursor: pointer;
                    }
                    
                    .botones {
                        color: #060606;
                        border: 0;
                        padding: 1.5rem .5rem;
                        display: flex;
                        justify-content: center;
                        border-radius: .5rem;
                        cursor: pointer;
                        align-items: center;
                    }
                    
                    .botones:hover {
                        background-color: #F266AB;
                    }
                    
                    #cero {
                        grid-column: span 2;
                        background-color: #df73ca;
                    }
                    
                    #igual {
                        background-color: #E8A0BF;
                    }